set TUXCONFIG "${CMAKE_INSTALL_PREFIX}/test/tuxconfig"
set VIEWDIR "${CMAKE_INSTALL_PREFIX}/test"
set VIEWFILES "views16.V"
set VIEWDIR32 "${CMAKE_INSTALL_PREFIX}/test"
set VIEWFILES32 "views32.V"
set FIELDTBLS "fields16"
set FLDTBLDIR "${CMAKE_INSTALL_PREFIX}/test"
set FIELDTBLS32 "tpadm,fields32"
set FLDTBLDIR32 "${CMAKE_INSTALL_PREFIX}/test:$ENV{TUXDIR}/udataobj"
set QMCONFIG "${CMAKE_INSTALL_PREFIX}/test/qdevice"
set TPMBENC "UTF-16LE"
set TPMBACONV Y
set RECORDFILES customer.R,transaction.R,string_info.R
set RECORDDIR "${CMAKE_INSTALL_PREFIX}/test"
set LD_LIBRARY_PATH "$ENV{TUXDIR}/lib:${CMAKE_INSTALL_PREFIX}/lib"
#set LIBRARY_PATH "$ENV{TUXDIR}/lib:${CMAKE_INSTALL_PREFIX}/lib"