export TUXCONFIG="${CMAKE_INSTALL_PREFIX}/test/tuxconfig"
export VIEWDIR="${CMAKE_INSTALL_PREFIX}/test"
export VIEWFILES="views16.V"
export VIEWDIR32="${CMAKE_INSTALL_PREFIX}/test"
export VIEWFILES32="views32.V"
export FIELDTBLS="fields16"
export FLDTBLDIR="${CMAKE_INSTALL_PREFIX}/test"
export FIELDTBLS32="tpadm,fields32"
export FLDTBLDIR32="${CMAKE_INSTALL_PREFIX}/test:$ENV{TUXDIR}/udataobj"
export QMCONFIG="${CMAKE_INSTALL_PREFIX}/test/qdevice"
export TPMBENC="UTF-16LE"
export TPMBACONV=Y
export RECORDFILES=customer.R,transaction.R,string_info.R
export RECORDDIR="${CMAKE_INSTALL_PREFIX}/test"
export LD_LIBRARY_PATH="$ENV{TUXDIR}/lib:${CMAKE_INSTALL_PREFIX}/lib"
#export LIBRARY_PATH="$ENV{TUXDIR}/lib:${CMAKE_INSTALL_PREFIX}/lib"