*RESOURCES
IPCKEY		123458

DOMAINID	testapp
MASTER		this
MAXACCESSERS	50
MAXSERVERS	50
MAXSERVICES	50
MODEL		SHM
LDBAL		N
SCANUNIT    500MS
BLOCKTIME   10

*MACHINES
DEFAULT:
		APPDIR="${CMAKE_INSTALL_PREFIX}/test"
		TUXCONFIG="${CMAKE_INSTALL_PREFIX}/test/tuxconfig"
		TUXDIR="$ENV{TUXDIR}"
		MAXWSCLIENTS=10

"${SITE}"
		LMID=this
		TLOGDEVICE="${CMAKE_INSTALL_PREFIX}/test/tlog"


*GROUPS
APP
		LMID=this
		GRPNO=1
		OPENINFO=NONE

TUX
		LMID=this
		GRPNO=2
		OPENINFO=NONE
	
TUXQ
		LMID=this
		GRPNO=3
		TMSNAME=TMS_QM
		OPENINFO="TUXEDO/QM:${CMAKE_INSTALL_PREFIX}/test/qdevice:myqueuespace"
    
    

*SERVERS
DEFAULT:
		CLOPT="-A"

TMUSREVT
		SRVGRP=TUX
		SRVID=1
TMMETADATA
		SRVGRP=TUX
		SRVID=2
		CLOPT="-A -- -f repository"


TMQFORWARD
		SRVGRP=TUXQ
		SRVID=1
		RESTART=N
		GRACE=0
		CLOPT="-- -n -i 0 -q TOUPPER,REVERSE"
		REPLYQ=N

		
TMQUEUE
		SRVGRP=TUXQ
		SRVID=2
		RESTART=N
		GRACE=0
		CLOPT="-s myqueuespace:TMQUEUE"

test_server
		SRVGRP=APP
		SRVID=3
		CLOPT="-s TOUPPER,REVERSE,CALC,ECHO_XML,NO_REPLY_SVC,BAD_SVC,TRIGGER_NOTIFY,TRIGGER_BROADCAST,TRIGGER_NOTIFY_TWICE,ECHO_CLIENTID,FORWARDING_SVC,FORWARD_TARGET,REVEAL_SECRET,HIDE_SECRET"

test_server
		SRVGRP=APP
		SRVID=4
		CLOPT="-s SLOW_TOUPPER,VERY_SLOW_SVC"

test_server
		SRVGRP=APP
		SRVID=5
		CLOPT="-s TOUPPERC:TOUPPER"
		CONV=Y

mssq_server
		SRVGRP=APP
		SRVID=6
        MIN=2
		RQADDR=sharedQ
		REPLYQ=Y
		${UBB_SECONDARY_QUEUE_LINE}

posting_server
		SRVGRP=APP
		SRVID=10

*SERVICES
REVERSE
